<div class="container"> 
    <h4>Buscar Ejercicio:</h4>

<div class="mb-3 row">
    <label for="inputNombreEEjercicioBuscar" class="col-sm-2 col-form-label">Nombre</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputNombreEEjercicioBuscar">
    </div>

    <label for="inputDescripcionEEjercicioBuscar" class="col-sm-2 col-form-label">Descripción</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputDescripcionEEjercicioBuscar">
    </div>
  </div>
  <div class="mb-3 row">
    <label for="inputEntrenadorEEjercicioBuscar" class="col-sm-2 col-form-label">Entrenador (Nick)</label>
    <div class="col-sm-4">
      <input type="text" class="form-control" id="inputEntrenadorEEjercicioBuscar">
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametro1" class="col-sm-2 col-form-label">Parametro 1</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametro1">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrogrupo1" class="col-sm-2 col-form-label">Parametro Grupo 1</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrogrupo1">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametrovalor1" class="col-sm-2 col-form-label">Parametro Valor 1</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrovalor1">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrosubvalor1" class="col-sm-2 col-form-label">Parametro Subvalor 1</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrosubvalor1">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametro2" class="col-sm-2 col-form-label">Parametro 2</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametro2">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrogrupo2" class="col-sm-2 col-form-label">Parametro Grupo 2</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrogrupo2">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametrovalor2" class="col-sm-2 col-form-label">Parametro Valor 2</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrovalor2">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrosubvalor2" class="col-sm-2 col-form-label">Parametro Subvalor 2</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrosubvalor2">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametro3" class="col-sm-2 col-form-label">Parametro 3</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametro3">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrogrupo3" class="col-sm-2 col-form-label">Parametro Grupo 3</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrogrupo3">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    <label for="form-select-parametrovalor3" class="col-sm-2 col-form-label">Parametro Valor 3</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrovalor3">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
    <label for="form-select-parametrosubvalor3" class="col-sm-2 col-form-label">Parametro Subvalor 3</label>
    <div class="col-sm-4">
        <select class="form-select" id="form-select-parametrosubvalor3">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
    </div>
</div>
<div class="mb-3 row">
    
    <div class="col-sm-4">
        <button type="submit" class="btn btn-secondary">Buscar</button>
    </div>
</div>

</div>

<!-- ::::::::::::::::::::::::::::::::::::::::::  -->
<!-- ::::::::::::      TABLE       ::::::::::::  -->
<!-- ::::::::::::::::::::::::::::::::::::::::::  -->

<div class="container">
    <table class="table table-light table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Entrenador</th>
                <th scope="col">Creado</th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr *ngFor="let tempEjercicio of ejercicios"> -->
            <tr>
                <td>Curl de Biceps</td>
                <td>LozanoFit</td>
                <td>07/04/2021</td>
            </tr>
        </tbody>
    </table>					
</div>