<div class="container"> 
    <h4>Buscar Ejercicio:</h4>

    <form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">


        <div formGroupName="general" class="form-area">
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Nombre</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="nombre">
                </div>

                <label class="col-sm-2 col-form-label">Descripción</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="descripcion">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Entrenador (Nick)</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control" formControlName="entrenadorNick">
                </div>
            </div>
        </div>


        <div formGroupName="parametro1" class="form-area">
            <div class="mb-3 row">
                
                <label class="col-sm-2 col-form-label">Parametro 1</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametro1" #sel (change)="onChangeP1(sel.value)">
                        <option selected value="blank"></option>
                        <option *ngFor="let tempParametro of parametros1" value="{{ tempParametro.id}}">{{ tempParametro.nombre}}</option>
                    </select>
                </div>
                
                <label class="col-sm-2 col-form-label">Parametro Grupo 1</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrogrupo1" #sel (change)="onChangePG1(sel.value)">
                        <option selected value="blank"></option>
                        <option [ngValue]="tempParametroGrupo" *ngFor="let tempParametroGrupo of parametroGrupos1" value="{{ tempParametroGrupo.id}}">{{ tempParametroGrupo.nombre}}</option>
                        
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Parametro Valor 1</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrovalor1" #selpv1 (change)="onChangePV1(selpv1.value)">
                        <option selected value="blank"></option>
                        <option [ngValue]="tempParametroValor" *ngFor="let tempParametroValor of parametroValores1" value="{{ tempParametroValor.id}}">{{ tempParametroValor.nombre}}</option>
                    </select>
                </div>

                
                    <label class="col-sm-2 col-form-label">Parametro Subvalor 1</label>
                    <div class="col-sm-4">
                        <select class="form-select" formControlName="parametrosubvalor1">
                            <option selected value="blank"></option>
                            <option [ngValue]="tempParametroSubvalor" *ngFor="let tempParametroSubvalor of parametroSubvalores1">{{ tempParametroSubvalor.nombre}}</option>
                        </select>
                    </div>
                
            </div>
        </div>
        

        <div formGroupName="parametro2" class="form-area" id="eeb-formgroup-parametro-2" *ngIf="selectedValue">
            <div class="mb-3 row">

                <label class="col-sm-2 col-form-label">Parametro 2</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametro2">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <label class="col-sm-2 col-form-label">Parametro Grupo 2</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrogrupo2">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Parametro Valor 2</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrovalor2">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                
                    <label class="col-sm-2 col-form-label">Parametro Subvalor 2</label>
                    <div class="col-sm-4">
                        <select class="form-select" formControlName="parametrosubvalor2">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                
            </div>
        </div> 


        <div formGroupName="parametro3" class="form-area" id="eeb-formgroup-parametro-3">
            <div class="mb-3 row">

                <label class="col-sm-2 col-form-label">Parametro 3</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametro3">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <label class="col-sm-2 col-form-label">Parametro Grupo 3</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrogrupo3">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
            </div>

            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Parametro Valor 3</label>
                <div class="col-sm-4">
                    <select class="form-select" formControlName="parametrovalor3">
                        <option selected>Open this select menu</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                
                    <label class="col-sm-2 col-form-label">Parametro Subvalor 3</label>
                    <div class="col-sm-4">
                        <select class="form-select" formControlName="parametrosubvalor3">
                            <option selected>Open this select menu</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                
            </div>
        </div> 
            
        <div class="mb-3 row">
            <div class="col-sm-4">
                <button type="submit" class="btn btn-secondary" >Buscar</button>
            </div>
        </div>

    </form>
</div>

<!-- ::::::::::::::::::::::::::::::::::::::::::  -->
<!-- ::::::::::::      TABLE       ::::::::::::  -->
<!-- ::::::::::::::::::::::::::::::::::::::::::  -->

<div class="container">
    <table class="table table-light table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Entrenador</th>
                <th scope="col">Creado</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tempEjercicio of ejercicios">
                <td>{{ tempEjercicio.nombre}}</td>
                <td>LozanoFit</td>
                <td>{{ tempEjercicio.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
            </tr>
        </tbody>
    </table>					
</div>