<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-secondary btn-lg mt-1" type="button" routerLink="/entrenador/parametro/parametro">Parámetro</button>
    <button class="btn btn-secondary btn-lg mt-1" type="button" routerLink="/entrenador/parametro/parametrogrupo">Grupo de Parámetro</button>
    <button class="btn btn-secondary btn-lg mt-1" type="button" routerLink="/entrenador/parametro/parametrovalor">Valor de Parámetro</button>
    <button class="btn btn-secondary btn-lg mt-1" type="button" routerLink="/entrenador/parametro/parametrosubvalor">Subvalor de Parámetro</button>
  </div>
  <div class="d-grid gap-2 col-6 mx-auto mt-2">
    <div class="d-grid gap-2 d-md-block">
      <a class="back-button" routerLink="/entrenador/panel">
        <i class="far fa-arrow-alt-circle-left fa-3x"></i>
      </a>
    </div>
  </div>