<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark py-1">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" id="logo-text">1001 ENTRENADORES</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon" id="icon-navbar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Ejercicios</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link" href="#">Calendario</a>
              </li>
                  <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Entrenador
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="#">Parámetros</a></li>
                          <li><a class="dropdown-item" href="#">Ejercicios</a></li>
                          <li><hr class="dropdown-divider"></li>
                          <li><a class="dropdown-item" href="#">Panel</a></li>
                        </ul>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link" href="#">Info</a>
                  </li>
            </ul>
  
            <form class="d-flex" id="search-navbar">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-sm btn-outline-secondary" type="submit">Search</button>
            </form>
      </div>
    </div>
</nav>
