
<div class="container">

    <h4>Parámetro Detalle:</h4>
    
    <div class="mb-3 row">
        <h5 class="col-sm-2">Id:</h5>
        <div class="col-sm-4">
            <h6>{{ parametro.id }}</h6>
        </div>
    </div>

    <div class="mb-3 row">
        <h5 class="col-sm-2">Nombre:</h5>
        <div class="col-sm-4">
            <h6>{{ parametro.nombre }}</h6>
        </div>
    </div>

    <div class="mb-3 row">
        <h5 class="col-sm-2">Diminutivo:</h5>
        <div class="col-sm-4">
            <h6>{{ parametro.diminutivo }}</h6>
        </div>
    </div>

    <div class="mb-3 row">
        <h5 class="col-sm-2">Info:</h5>
        <div class="col-sm-4">
            <h6>{{ parametro.info }}</h6>
        </div>
    </div>
    
</div>





<div class="container mt-4">
<a class="back-button" routerLink="/entrenador/parametro/parametro/editar/{{parametro.id}}" title="editar">
    <i class="fas fa-edit fa-2x "></i>
</a>
</div>



<div class="container mt-4">
    <button (click)="testButton()" title="borrar"><i class="fas fa-trash-alt fa-2x remove button-styled"></i></button> 
</div>

<div class="d-grid gap-2 col-6 mx-auto mt-2">
    <div class="d-grid gap-2 d-md-block">
      <a class="back-button" routerLink="/entrenador/parametro/parametro/buscar">
        <i class="far fa-arrow-alt-circle-left fa-3x"></i>
      </a>
    </div>
</div>
