/* You can add global styles to this file, and also import other style files */
/* Estilos generales */
body {
    margin-top: 0 !important;
    padding-top: 80px !important;
  }
  
  @font-face{
      font-family: Freshman;
      src: url('fonts/freshman.ttf');
  }
  h1{
      font-family: Freshman;
  }
  #logo-container {
      padding: 1rem;
      background-color:aqua;
      text-align: center;
  }
  #logo-text{
      font-family: Freshman;
      color: antiquewhite;
  }
  #search-navbar{
      height: 30px;
      
  }
  .back-button:link{
        color: grey;
        background-color: transparent;
        text-decoration: none;
  }
  .back-button:visited{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
.back-button:hover{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}
.back-button:active{
    color: grey;
    background-color: transparent;
    text-decoration: none;
}


.justify-content-right {
    display: flex !important;
    justify-content: right !important;
}
